[submodule "third_party/ZzTermWidget"]
	path = third_party/ZzTermWidget
	url = git@github.com:jackfahdin/ZzTermWidget.git
[submodule "third_party/ZzPureToolsPro"]
	path = third_party/ZzPureToolsPro
	url = git@github.com:jackfahdin/ZzPureTools.git
[submodule "third_party/ZzSshCore"]
	path = third_party/ZzSshCore
	url = git@gitcode.com:JackfahdinQt/ZzSshCore.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = git@gitcode.com:ZzThirdParty/openssl.git
[submodule "third_party/lz4"]
	path = third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
	branch = v1.5.7
	shallow = true
